@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

.manrope-font {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500 700;
    font-style: normal;
}

:root {
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
    --mobile-width: 640px; /* 640px */
    --font-weight-500: 500;
    --font-weight-700: 700;
}

body {
    background-color: var(--Light-Grayish-Blue);

    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 13px;
    font-style: normal;
    color: var(--Desaturated-Dark-Blue);
}

a {
    text-decoration: underline;
    color: var(--Grayish-Blue);
    font-weight: 700;
}

.card {
    background-color: whitesmoke;
    border-radius: 10px;
    overflow: visible;

    .c_left img {
        border-radius: 10px 0 0 10px;
    }
}
.c_right h2,
.s_name {
    color: var(--Very-Dark-Grayish-Blue);
    font-weight: 700;
}
.s_date {
    font-weight: 500;
}

.s_right button {
    background-color: var(--Light-Grayish-Blue);
}

#share-group {
    display: flex;
    position: absolute;
    bottom: 4.5rem;
    right: 50%;
    transform: translateX(50%) translateY(0.5rem);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
    pointer-events: auto;

    & .icons-groups {
        background-color: var(--Very-Dark-Grayish-Blue);
    }

    .icons-groups p {
        color: var(--Light-Grayish-Blue);
        font-weight: 400;
        letter-spacing: 0.3em;
    }

    .t_bottom {
        width: 1rem;
        height: 1rem;
        background-color: var(--Very-Dark-Grayish-Blue);
        rotate: 45deg;
        z-index: 10;
        position: relative;
        top: -0.5rem;
    }

    &.hidden {
        opacity: 0 !important;
        transition: linear;
        pointer-events: none;
        display: flex;
    }
}

@media (max-width: 40rem) {
    .card {
        .c_left img {
            border-radius: 10px 10px 0 0;
        }
        .c_right {
            margin: 1.5rem;
        }
        #share-group-bottom {
            background-color: var(--Very-Dark-Grayish-Blue);
            position: relative;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4rem;
            transition: all 1s ease;
            align-content: center;
            place-items: center;
            border-radius: 0 0 10px 10px;

            &.hidden {
                transform: translateY(100%) !important;
                opacity: 0 !important;
                transition: all 1s ease;
            }

            .share-list {
                align-items: center;
                align-self: center;
                justify-content: space-between;

                p {
                    letter-spacing: 0.2em;
                    color: var(--Light-Grayish-Blue);
                    font-weight: 200;
                }
            }
        }
    }
}
