@import "tailwindcss";

:root{
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}
/* .manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */


body{
    background-color: var(--Light-Grayish-Blue);

    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 13px;
    font-style: normal;
}

.card{
    background-color: whitesmoke;
    border-radius: 10px;
}

.c_right h2, .s_name{
    color: var(--Very-Dark-Grayish-Blue);
    font-weight: 700;
}
.s_date{
    font-weight: 500;
    color: var(--Grayish-Blue);
}
.s_right{
    background-color: var(--Light-Grayish-Blue);
}
