@import 'mixins';
@import 'variables';
@import 'navbar';
@import 'body';
@import 'footer';



html{
    box-sizing: border-box;
    font-size: $font14;
    font-family: $font-fam;
    background-color: $very-dark-blue-bg;
    color: $text-desaturated-blue;
    transition: ease 0.3s all;


    .light{
        background-color: $white;
        color: $text-dark-grayish-blue;
        transition: ease 0.3s all;
    }
}
*, *::before, *::after{
    box-sizing: inherit;
}

.container{
    margin: 0 auto;
    width: 70%;
    max-width: $screen-l;

    @media screen and (max-width: $screen-s){
        width: 100%;
        margin: 0;
    }
}

